<?php
# ***** BEGIN LICENSE BLOCK *****
# Version: MPL 1.1/GPL 2.0/LGPL 2.1
#
# The contents of this file are subject to the Mozilla Public License Version
# 1.1 (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
# http://www.mozilla.org/MPL/
#
# Software distributed under the License is distributed on an "AS IS" basis,
# WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
# for the specific language governing rights and limitations under the
# License.
#
# The Original Code is Weave Openid Server
#
# The Initial Developer of the Original Code is
# Mozilla Labs.
# Portions created by the Initial Developer are Copyright (C) 2008
# the Initial Developer. All Rights Reserved.
#
# Contributor(s):
#       Anant Narayanan (anant@mozilla.com)
#       Toby Elliott (telliott@mozilla.com)
#
# Alternatively, the contents of this file may be used under the terms of
# either the GNU General Public License Version 2 or later (the "GPL"), or
# the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
# in which case the provisions of the GPL or the LGPL are applicable instead
# of those above. If you wish to allow use of your version of this file only
# under the terms of either the GPL or the LGPL, and not to allow others to
# use your version of this file under the terms of the MPL, indicate your
# decision by deleting the provisions above and replace them with the notice
# and other provisions required by the GPL or the LGPL. If you do not delete
# the provisions above, a recipient may use your version of this file under
# the terms of any one of the MPL, the GPL or the LGPL.
#
# ***** END LICENSE BLOCK *****

#host, db name, username and password for the mysql store
if (!defined('OPENID_MYSQL_HOST')) {
	define('OPENID_MYSQL_HOST', 'hostname');
}
if (!defined('OPENID_MYSQL_DB')) {
	define('OPENID_MYSQL_DB', 'dbname');
}
if (!defined('OPENID_MYSQL_USER')) {
	define('OPENID_MYSQL_USER', 'dbuser');
}
if (!defined('OPENID_MYSQL_PASS')) {
	define('OPENID_MYSQL_PASS', 'dbpassword');
}

#log or not?
if (!defined(WEAVE_OPENID_DEBUG)) {
	define('WEAVE_OPENID_DEBUG', true);
}

#where to write 
if (!defined('OPENID_DEBUG_LOG')) {
	define('OPENID_DEBUG_LOG', '/path/to/logfile');
}

#name of the openid server endpoint
if (!defined('OPENID_SERVER_NAME')) {
	define('OPENID_SERVER_NAME', 'https://openid.example.org/');
}

#location of the authorization cluster
if (!defined('WEAVE_AUTH_URL')) {
	define('WEAVE_AUTH_URL', 'https://auth.example.org/');
}

#if not using a central cluster, location of the pubkey server
#if (!defined('WEAVE_STORAGE_URL')) {
#	define('WEAVE_STORAGE_URL', 'https://store.example.org/');
#}

?>